<div class="min-vh-100 bg-theme">
    <div class="container mx-auto p-2 d-flex align-items-centre justify-content-around flex-wrap">
        <%jobLists.forEach(jobList=>{%>
        
        <div class="card border-white m-3 bg-theme" style="max-width: 18rem">
            <div class="card-header d-flex flex-column align-items-centre justify-content-start p-2">
              <span style="width: 160px" class="bg-primary bg-opacity-25 text-black border border-success border border-success p-1 border-opacity-50 rounded">
                Actively hiring</span>
              <h5 class="my-1 fw-bold text-warning"><%= jobList.name%></h5>
              <div>
                <span>Tech</span>
                <span class="text-info"><%= jobList.tech%></span>
              </div>
            </div>
            <div class="card-body d-flex align-items-centre justify-content-center flex-column">
              <p class="fw-bold">
                <i class="bi bi-geo-alt-fill"></i><%=jobList.address%>
              </p>
              <p class="fw-bold">
                </svg><%=jobList.salary%>
              </p>
              <div class="skills p-1">
                <%jobList.skills.forEach(skill=>{%>
                <button class="btn btn-sm btn-outline-info"><%= skill%></button> 
            <%})%>
              </div>
              <a href="/job/<%=jobList.id%>" class="btn btn-sm btn-outline-success my-2">
                View details
              </a>
            </div>
          </div>
        <%})%>
    </div>
</div>